{% extends "base.html" %}

{% block content %}
<h1 align="center">Works log</h1>
{% for item in jobs%}
<h1>Action #{{ loop.index }}</h1>
<table class="table-active">
  <thead>
    <tr>
      <th scope="col" style="width: 500px;">Title of activity</th>
      <th scope="col" style="width: 200px;">Team leader</th>
      <th scope="col" style="width: 200px;">Duration</th>
      <th scope="col" style="width: 300px;">List of collaborators</th>
      <th scope="col" style="width: 100px;">is finished</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td class="table-primary">{{item.job}}</td>
      <td class="table-primary">{{item.team_leader}}</td>
      <td class="table-primary"">{{item.work_size}} hours</td>
      <td class="table-primary">{{item.collaborators}}</td>
      {% if item.is_finished == 0 %}
      <td class="table-danger">is not finished</td>
        {% else %}
        <td class="table-danger">is finished</td>
        {% endif %}
    </tr>
  </tbody>
</table>
<br>
</div>
{% endfor %}
{% endblock %}